.block
  %h3 Admin Interface
  .content
    %p
      He who uses this interface wields great power.  Use it wisely.
.block
  %h3 Links
  %ul.navigation
    %li=link_to "I don't know what to put"
    %li=link_to "over here quite yet..."
