.block
  %h3 Admin Interface
  .content
    %p
      This is the drop-in admin interface that Padrino provides.  All adding and removing of content should be done through here.
.block
  %h3 Links
  %ul.navigation
    %li=link_to "Main Page", '/'
    %li=link_to "Admin Page", '/admin'
    %li=link_to "Talks", '/talks'
    %li=link_to "People", '/people'
