%span.title People
%a#tb{:href => '/'} Go back to homepage
%hr
.search-box
  %h2 search 
  %label{:for => 'keywords'}Keyword Search
  %input#keywords{:type => 'text'}
- @people.each do |person|
  .talk-box
    = link_to person.name, "people/#{person.id}"
    %br
    Also in here will be the persons tags, and maybe a thumbnail of their photo?
    Up top will be a search/filter box and maybe some other selectors
