%span.title People
%a#tb{:href => '/'} Go back to homepage
%hr
- @people.each do |person|
  .talk-box
    = link_to person.name, "people/#{person.id}"
    %br
    Also in here will be the persons tags, and maybe a thumbnail of their photo?
    Up top will be a search/filter box and maybe some other selectors
