span.title {
font-size: 2.5em;
}

span.talk_name {
font-size: 1.8em;
a {
  text-decoration: none;
}
}

span.date {
font-weight: bold;
}

a#tb {
  float: right;
  position: relative;
  bottom: -21px;
}

span.s_title {
  font-size: 2.0em;
} 
  
span#t_date { margin-left: 45px;
  font-weight: bold;
}

.subtle {
  font-weight: normal;
}


