.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:talks, :index)
      %li=link_to pat(:new), url(:talks, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:talks)
    .inner
      %table.table
        %tr
          %th.first=mat(:talk, :id)
          %th=mat(:talk, :title)
          %th=mat(:talk, :speaker)
          %th=mat(:talk, :date)
          %th=mat(:talk, :s_descrip)
          %th=mat(:talk, :l_descrip)
          %th=mat(:talk, :thumb)
          %th=mat(:talk, :pics)
          %th=mat(:talk, :video)
          %th=mat(:talk, :slides)
          %th.last="&nbsp;"
        -@talks.each do |talk|
          %tr
            %td.first=talk.id
            %td=talk.title
            %td=talk.speaker
            %td=talk.date
            %td=talk.s_descrip
            %td=talk.l_descrip
            %td=talk.thumb
            %td=talk.pics
            %td=talk.video
            %td=talk.slides
            %td.last
              =button_to pat(:edit), url(:talks, :edit, :id => talk.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:talks, :destroy, :id => talk.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")