.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:talks, :index)
      %li.active=link_to pat(:new), url(:talks, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:talk)
    .inner
      -form_for :talk, url(:talks, :create), :class => :form, :multipart => true do |f|
        =partial "talks/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
