%span.title Talks
%hr
- @talks.each do |talk|
  .talk-box
    .right-t
      :textile
        stuff on right? such as the thumbnail and sponsors and time and...
    .left-t
    %h2 
      = link_to talk.title, "/talks/#{talk.id}"
    :textile
      #{talk.s_descrip}
