%span.title Talks
%hr
- @talks.each do |talk|
  .talk-box
    .right-t
      :textile
        stuff on right? such as the thumbnail and sponsors and time and...
    .left-t
    %span.talk_name
      = link_to talk.title, "/talks/#{talk.id}"
    %br
    %span.date
      = talk.date.strftime '%A %B %d, %Y'
    %hr
    :textile
      #{talk.s_descrip}
