#big_top
  %ul.hor
    %li{:onclick => 'window.location="/talks";'}
      %a{:href => '/talks'}
        =image_tag 'talker.png', :width => 30
        %h2 Talks
        =link_to 'Updated weekly', '/talks', {:title => 'Kinda...'}
    %li{:onclick => 'window.location="/people";'}
      %a{:href => '/people'}
        =image_tag 'people.png', :width => 60
        %h2 People
        =link_to 'Check us out', '/people', {:title => 'Were pretty cool!'}
    %li{:onclick => 'window.location="http://posterous.com/";'}
      %a{:href => 'http://posterous.com/'}
        =image_tag 'blog.png', :width => 40
        %h2 Blog
        =link_to 'Will we have a blog?', 'http://posterous.com/', {:title => 'Please, because it makes this bar fit properly'}
    %li{:onclick => 'window.location="mailto:sj@case.edu";'}
      %a{:href => 'mailto:sj@case.edu'}
        =image_tag 'mail.png', :width => 40
        %h2 Contact
        =link_to 'Send us a message', 'mailto:sj@case.edu', {:title => 'We\'ll probably get back to you.'}
#announce.right
  %h2 Information
  %p.fp
    Announcements will go here
  =image_tag 'http://ieee.case.edu/images/officers_banner.jpg', {:class => 'big_img'}
  %p.fp
    What about also having a calandar?
  %p.fp
    Maybe some of the most recent talks too!
#small.left
  %h2 What is a Hacker?
  %p.fp
    hacker, n: One who is intensely interested in learning and modifying the technical aspects of a system, particularly a computer and its software; one who hacks; a computer programmer who is largely or completely self-taught.
  %h2 About Us
  %p.fp
    CWRU Hacker Society is a common ground for those who are interested in digging into the innards of things; for those who use, produce, or support open-source software (or hardware); and for those who would like to learn more about open-source development.
  %h2 Meetings
  %p.fp
    Hacker Society currently meets (ir)regularly on Wednesdays at 7:30 pm in Glennan 313 for tech talks and round table discussions. Subscribe to our <a href="https://lists.case.edu/wws/info/cwru-hackers">mailing list</a> to be updated weekly with dates, times, and topics.

