%h2 What is a Hacker?
%p
  hacker, n: One who is intensely interested in learning and modifying the technical aspects of a system, particularly a computer and its software; one who hacks; a computer programmer who is largely or completely self-taught.
#big_top
  %ul.hor
    %li
      %a{:href => '/talks'} 
        .right
          = image_tag 'talker.png', {:width => 40}
        .left
          %h2 Talks
          %p 
            Updated weekly
    %li
      %a{:href => '/people'} 
        .right
          = image_tag 'people.png', {:width => 60}
        .left
          %h2 People
          %p 
            Check us out
    %li
      %a{:href => 'http://posterous.com/'} 
        .right
          = image_tag 'blog.png', {:width => 40}
        .left
          %h2 Blog
          %p
            Will we have a blog?
    %li
      %a{:href => 'mailto:sj@case.edu'} 
        .right
          = image_tag 'mail.png', {:width => 40}
        .left
          %h2 Contact
          %p
            Send us a message
%h2 About Us
%p
  CWRU Hacker Society is a common ground for those who are interested in digging into the innards of things; for those who use, produce, or support open-source software (or hardware); and for those who would like to learn more about open-source development.
%h2 Meetings
%p
  Hacker Society currently meets (ir)regularly on Wednesdays at 7:30 pm in Glennan 313 for tech talks and round table discussions. Subscribe to our <a href="https://lists.case.edu/wws/info/cwru-hackers">mailing list</a> to be updated weekly with dates, times, and topics.

