.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label "Picture"
  %br
  -if @person.pic?
    =image_tag @person.pic.url, {:width => 150, :height => 150, :style => 'border: 2px solid #777; margin: 10px; margin-left: 100px;'}
    %br
    = f.check_box :remove_pic
    %span Remove Picture
    %br

  =f.error_message_on :pic
  =f.file_field :pic
  %br

.group
  =f.label :yaml
  =f.error_message_on :yaml
  =f.text_field :yaml, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:people, :index)}';return false", :class => :button
