.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:sponsors, :index)
      %li=link_to pat(:new), url(:sponsors, :new)
      %li.active=link_to pat(:edit), url(:sponsors, :edit, :id => @sponsor.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:sponsor)
    .inner
      -form_for :sponsor, url(:sponsors, :update, :id => @sponsor.id), :method => :put, :class => :form, :multipart => true do |f|
        =partial "sponsors/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
