!!!
%head
  %title hacsoc @ cwru
  = favicon_tag 'favicon.ico'
  = stylesheet_link_tag 'application'
%body.bp
  .two-col
    #header
      %h3 Header
    #content
      = yield 
    #sidebar
      %h3 sidebar
    #footer
      %h3 footer
